@import url('./styles/project-card.css');
@import url('./styles/skills.css');
@import url('./styles/footer.css');
@import url('./styles/hireme.css');
@import url('./styles/modal.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*font-family: 'Montserrat',
sans-serif;
font-family: 'Montserrat Alternates',
sans-serif;
font-family: 'Roboto Slab',
serif;
font-family: 'Rubik Wet Paint',
cursive;
font-family: 'Special Elite',
cursive; */

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(75, 0, 130, 0.9);
  border-radius: 20px;
}

:root {
  --purple-color: rgba(75, 0, 130,0.9); 
  --light-purple: rgba(75, 0, 130, 0.7);
  --black-color: rgba(75, 0, 130, 0.1);
  --font-color: rgb(5, 2, 5);
  --nav-mobile-color:rgb(246, 238, 255);
  --button: rgba(75, 0, 130, 0.9);
  /* --silver-ish: #e4e7e8; */
  --silver-grey:#bbc3c9;
}

.dark-mode:root{
  --black-color: rgb(5, 2, 5);
  --font-color: rgb(234, 221, 248);
  --button: rgb(234, 221, 248);
  --silver-grey: rgb(234, 221, 248);
}

body {
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--black-color);
  transition: 0.5s ease-in;
  color: var(--font-color);
  font-weight: 400;
  position: relative;
}

a{
  cursor: pointer;
}

.container {
  width: 100%;
  border: 2px hidden red;
  overflow: hidden;
}

.content {
  width: 90%;
  margin: 20px auto;
  min-height:auto;
  border: 2px hidden green;
  overflow: hidden;
}

header {
  width: 100%;
  border: 2px hidden blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  border: 2px hidden black;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
  background-color: transparent;
  transition: 0.5s linear;
}



.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px hidden red;
  /* margin: 0 0 20px; */
}

.my-english-name {
  font-family: 'Roboto Slab',serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 30px;
  color: var(--purple-color);
  transition:0.5s linear;
}

.menu-icon {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

.menu-icon .icon {
  width: 100%;
  margin-bottom: 3px;
  height: 6px;
  border-radius: 15px;
  background-color: var(--purple-color);
  transition: width 0.5s linear;
}

.menu-icon .icon.active{
  margin-bottom: 2px;
}

.menu-icon .icon:nth-child(2).active{
  width: 80%;
  height: 5px;
}

.menu-icon .icon:nth-child(3).active {
  width: 60%;
  height: 4px;
}


nav {
  width: 100%;
  padding: 20px;
  border: 2px hidden green;
  transform: translateX(-105vw);
  transition: 0.5s linear;
  
}

.active-nav{
  transform: translateX(0);
}

.nav-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.times{
  width:35px;
}

.times-icon{
  width: 100%;
  height: 4px;
  border-radius: 15%;
  background-color: white;
}

.times-icon:nth-child(1){
  transform: rotate(45deg) translateX(-6px) translateY(2px);
}

.times-icon:nth-child(2) {
  transform: rotate(-45deg) translateX(1px) translateY(-8px);
  
}

.nav-items li {
  margin: 40px 0;
}

.nav-items li a {
  text-decoration: none;
  color:var(--nav-mobile-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-items li a:hover {
  color: var(--purple-color);
}

.nav-items li a:active {
  color: var(--purple-color);
}

.theme-toggle {
  width: 35px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid rgba(234, 221, 248 ,0.9); 
}

.fa-solid{
  font-size: 16px;
  transition: 0.5s ease-in;
}

.fa-solid:hover{
  color: var(--purple-color);
}

.active-toggle.theme-toggle{
  border: 3px solid rgb(234, 221, 248);
}

.header-content {
  border: 2px hidden blue;
  width: 100%;
  min-height: 90vh;
  margin-top: 40px;

}

.header-texts-and-image{
  width: 100%;
  height: 100%;
  border: 3px hidden red;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.image-container{
  width: 100%;
  border: 2px hidden green;
  margin-bottom: 20px;
}

.border{
  width: 200px;
  height: 200px;
  margin: 0px auto 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.border::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px dotted;
  border-color: rgba(75, 0, 130, 0.8);
  animation: spin 5s alternate-reverse infinite;
}

@keyframes spin {
  to{
    transform: rotate(180deg);
  }
}

.img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}


.img img{
  width: 100%;
  height: 100%;
  
}


.text-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.greeting-text{
  width: 100%;
  font-weight: 600;
  line-height: 1.5;
  color: var(--font-color);
}

.greeting-text::first-letter{
  text-transform: uppercase;
}

.text-container h2{
  width: 100%;
  text-transform: capitalize;
  font-size: 30px;
  font-family: 'Roboto Slab',serif;
  letter-spacing: 2px;
  color: var(--purple-color);
  font-weight: 600;
  line-height: 1.5;
  
}

.job-title{
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color);
}

.job-title::first-letter{
  text-transform: uppercase;
}

.job-title span{
  color: var(--purple-color);
  text-transform: capitalize;
}

.button-container{
  margin: 20px 0;
  width: 100%;
  height: 50px;
  background-color: var(--purple-color);
  transition: 0.5s linear;
}

.button-container:hover{
  background-color: transparent;
  border: 2px solid var(--button);
}

.button-container button{
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.button-container button a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s linear;
}

.button-container:hover button a {
  color: var(--button);
}

.about-me-and-experience{
  border-left: 2px solid var(--silver-grey);
  padding: 0 0 20px 30px;
  margin:40px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.about-me{
  width: 100%;
  margin-bottom: 25px;
}

.about-me h3{
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about-me p{
  line-height: 1.5;
}

.about-me p::first-letter{
  text-transform: uppercase;
}

.experience{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.experience h3{
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
}


.experience-and-roles{
  width: 100%;
  margin-bottom: 15px;
}

.experience-and-roles h5{
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 16px;
}

.experience-and-roles h5 span{
  font-style: italic;
  font-weight: 400;
}

.role-title{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.role-title li{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
}



@media(max-width:991px){

  .active.my-english-name {
    color: white
  }

  nav{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
  }

  .active-nav{
    padding: 40px 20px;
    background-color: var(--light-purple);
    z-index: 2;
    box-shadow: 0 0 26px 999px rgba(0,0,0,0.1);
  }

    .remove-nav {
      transform: translateX(-105vw);
    }

 .nav-items{
    justify-content: center;
    align-items: flex-end;
  }

  .theme-toggle{
    position:absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media(min-width: 768px){
  .my-english-name {
    font-size: 35px;
  }

  .greeting-text{
    font-size: 18px;
  }

  .text-container h2{
    font-size: 35px;
  }

  .greeting-text, .text-container h2, .job-title{
    text-align: center;
  }

  .job-title{
    width: 60%;
    margin: auto;
  }

  .button-container{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  .border{
    width: 350px;
    height: 350px;
    margin: 0px auto 40px;
  }

  .border::before{
    border: 15px dotted var(--purple-color);
  }

  .header-content{
    margin-top: 40px;
  }

  .image-container{
    margin-bottom: 30px;
  }

  .about-me h3{
    font-size: 24px;
  }

  .experience h3{
    font-size: 24px;
  }

}

@media (min-width: 992px) {
  .times{
    display: none;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
  }

  .hamburger-container {
    width: 30%;
    margin: 0;
  }

  .my-english-name {
    font-size: 55px;
  }

  .menu-icon {
    display: none;
  }

  nav {
    width: 70%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    height: auto;
    transform: translateY(0);
  }

  .nav-items {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items li {
    margin: 0 20px;
  }

  .nav-items li a {
    color: var(--font-color);
    font-weight: 600;
  }

  .header-content {
    padding-top: 15px;
    display: flex;
    align-items: center;

  }

  .header-texts-and-image{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .text-container{
    width: 50%;
    padding-top: 20px;
  }

  .text-container h2{
    font-size: 45px;
  }

  .greeting-text, .text-container h2, .job-title{
    text-align: left;
  }

  .job-title{
    width: 85%;
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
  }

  .greeting-text{
    font-size: 14px;
  }

  .button-container{
    width: 50%;
    margin-right: 0;
    margin-left: 0;
  }

  .image-container{
    width: 50%;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    
  }

  .border{
    width: 90%;
    height: 90%;
    margin: 0px auto 0px;
  }

  .border::before{
    border: 20px dotted var(--purple-color);
  }

  .theme-toggle{
    width: 35px;
    height: 30px;
    border: 3px solid rgba(75, 0, 130, 0.9);
      
  }
  

  .about-me-and-experience{
    margin:150px 0 50px;
    padding-top:0;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:10px ;
  }

  .about-me{
    padding-right: 40px;
  }

  .experience {

    padding-left: 20px;
  }
}
