.hire-me{
  width: 100px;
  padding: 10px 5px;
  position: fixed;
  bottom: 20px;
  right:10px;
  background-color: var(--purple-color);
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire-me:hover {
  background-color: transparent;
  border: 2px solid var(--button);
}

.hire-me a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s linear;
}

.hire-me:hover a {
  color: var(--button);
}

@media(min-width: 768px) {
  .hire-me{
    width: 150px;
    padding: 20px 10px
  }
}