*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(75, 0, 130, 0.9);
  border-radius: 20px;
}

:root {
  --purple-color: rgba(75, 0, 130, 0.9);
  --light-purple: rgba(75, 0, 130, 0.7);
  --black-color: rgba(75, 0, 130, 0.1);
  --font-color: rgb(5, 2, 5);
  --nav-mobile-color: rgb(246, 238, 255);
  --button: rgba(75, 0, 130, 0.9);
  /* --silver-ish: #e4e7e8; */
  --silver-grey: #bbc3c9;
}

.dark-mode:root {
  --black-color: rgb(5, 2, 5);
  --font-color: rgb(234, 221, 248);
  --button: rgb(234, 221, 248);
  --silver-grey: rgb(234, 221, 248);
}

body {
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--black-color);
  transition: 0.5s ease-in;
  color: var(--font-color);
  font-weight: 400;
  position: relative;
}

a {
  cursor: pointer;
}

.project-page{
  width: 100%;
}

.projects-contents{
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.go-back{
  /* color: var(--font-color); */
  font-size: 24px;
  cursor: pointer
}

.go-back:hover{
  color: var(--purple-color);
}

.projects-container{
  width: 100%;
  /* border: 2px solid green; */
  margin: 20px 0 25px;
}

.projects-container h3 {
  width: 100%;
  margin: auto;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
}

.projects{
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 20px;
}

.project-card{
  border: 1px solid rgba(75, 0, 130, 1);
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.project-card-one{
  background-image: url('../assets/harmonic-image.png') ;
}

.project-card-two{
  background-image: url('../assets/portfolio-image.png') ;
}

.project-card-three{
  background-image: url('../assets/space-tourism-image.png');
}

.project-card-four {
  background-image: url('../assets/valores-image.png') ;
}

.project-card-five {
  background-image: url('../assets/property-mataaz.png');
}

.card-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-body {
  width: 100%;
  height: 100%; 
  position: absolute;
}

.card-diagonal-one,
.card-diagonal-two {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card-diagonal-one {
  background: rgba(75, 0, 130, 1);
  transform: skewY(40deg) translateY(400px);
}

.card-diagonal-two {
  background: rgba(75, 0, 130, 1);
  transform: skewY(40deg) translateY(-400px);
}


.project-card:hover .card-diagonal-one {
 
  animation: cover-one 1s ease-in-out normal ;
}

.project-card:hover .card-diagonal-two {

  animation: cover-two 1s ease-in-out normal ;
}

@keyframes cover-one {
  0%{
    transform: skewY(40deg) translateY(400px);

  }

  50% {
    transform: skewY(40deg) translateY(170px)
  }

  100% {
    transform: skewY(40deg) translateY(400px)
  }
}

@keyframes cover-two {
  0% {
    transform: skewY(40deg) translateY(-400px);
  }

  50% {
    transform: skewY(40deg) translateY(-170px)
  }

  100% {
    transform: skewY(40deg) translateY(-400px);
  }
}

.card-image,
.card-texts {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: 1;
  transition: 0.5s linear;
  transition-delay: 0.5s;
}

.card-image-one {
  background-image: url('../assets/harmonic-image.png');
}

.card-image-two {
  background-image: url('../assets/portfolio-image.png');
}

.card-image-three {
  background-image: url('../assets/space-tourism-image.png');
}

.card-image-four {
  background-image: url('../assets/valores-image.png');
}

.card-image-five {
  background-image: url('../assets/property-mataaz.png');
}

.card-texts {
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover .card-image {
  z-index: -1;
  opacity: 0;
}

.project-summary{
  width: 90%;
  margin: auto;
}

.project-summary h4{
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 5px;
}

.project-summary p{
  line-height: 1.5;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.project-summary p::first-letter{
  text-transform: uppercase;
}

.link{
  width: 150px;
  height: 45px;
  background-color: var(--purple-color);
  transition: 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.link:hover{
  background-color: transparent;
  border: 2px solid white;
}

.link a{
  width: 100%;
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}


@media(min-width:600px) {
  .projects{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
}

@media(min-width: 768px) {

  .go-back{
    font-size: 26px;
  }

  .projects-container{
    margin: 30px 0 35px;
  }

  .projects-container h3{
    font-size: 24px;
  }


}

@media(min-width: 992px) {

  .go-back{
    font-size: 28px;
  }

  .projects{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
  }

}

@media(min-width: 1200px) {

  .projects {
    grid-template-columns: repeat(4 1fr);
  }
}